---
### ALL PAGES ###
layout: master/global/default

### REGULAR PAGES ###
---

<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Hero Section -->
  <!-- <div class="bg-primary bg-img-hero" style="background-image: url(/assets/svg/components/abstract-shapes-5.svg);"> -->
  <div class="position-relative bg-{{ page.service.color }} overflow-hidden">
    <!-- <div class="container position-relative z-index-2 space-top-3 space-top-md-4 space-bottom-3 space-bottom-md-4"> -->
    <div class="container position-relative z-index-2 space-top-2 space-top-md-3 space-bottom-1 space-bottom-md-2">
      <div class="w-md-80 w-xl-60 text-center mx-md-auto">
        <div class="mb-7">
          <!-- <h1 class="display-4 text-white mb-4">Operst Services.</h1> -->
          <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">{{ page.service.name }}</span>
          <!-- <p class="lead text-white mb-4">Operst offers complete advertising solutions that focus on performance.</p> -->
          <h1 class="text-white mb-0 h2">{{ page.service.heading }}</h1>
        </div>
        <!-- <a class="btn btn-light btn-wide transition-3d-hover" href="#">Start Now</a> -->
        <!-- <a class="btn text-white" href="#">Get in Touch <i class="fas fa-angle-right fa-sm ml-1"></i></a> -->
      </div>
    </div>

    <!-- SVG Shapes -->
    <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
        <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
      </svg>
    </figure>
    <!-- End SVG Shapes -->
  </div>

  <!-- Content Section -->
  <div class="container space-2 space-lg-0">
    <div class="pl-lg-4">

      {% assign platform-video = "m4XZMI5Xdng" %}

      <div class="">
      </div>

      {% if platform-video != null %}
        <div class="">
          <!-- Title -->
          <div class="text-center mx-md-auto">
            <span class="d-block small font-weight-bold text-cap mb-2">{{ page.service.name }} in action</span>

            {% if page.service.heading-sub != null %}
              <h2>{{ page.service.heading-sub }}</h2>
            {% else %}
              <h2 class="h3">Somiibo is the best tool to grow your {{ page.service.name }}</h2>
            {% endif %}

            <p class="">{{ page.meta.description }}</p>

          </div>
          <!-- End Title -->

          <!-- Icon Blocks -->
          <div class="row my-5">
            <div class="col-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ platform-video }}"></iframe>
              </div>

              <div class="mt-5 text-center">
                <!-- <a class="btn btn-sm btn-soft-primary btn-wide transition-3d-hover" href="{{ site.url }}/signup">Signup for free</a> -->
                <!-- <small class="d-block d-sm-inline-block text-white-70 my-3 my-sm-0 mx-sm-3">or</small> -->
                <!-- <a class="btn btn-sm btn-primary btn-wide transition-3d-hover" href="{{ site.url }}/download">Get started for free</a> -->
              </div>

            </div>
          </div>
          <!-- <hr> -->
        </div>
      {% endif %}

      {% if platform-video == null %}
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <span class="d-block small font-weight-bold text-cap mb-2">Why Somiibo</span>
          <h2>Grow with our {{ page.service.name }} bot</h2>
        </div>
        <!-- End Title -->
      {% endif %}

      <!-- Icon Blocks -->
      <div class="row mb-5 mb-md-9">
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure class="w-100 max-w-6rem mr-3">
              <img class="img-fluid" src="/assets/svg/icons/icon-29.svg" alt="SVG">
            </figure>
            <div class="media-body">
              <h4 class="mb-0">Speed and Efficiency</h4>
            </div>
          </div>
          <p>
            Somiibo earns {{ page.service.name }}

            {% for stat in page.service.stats %}
              {% if forloop.last == true %}
                & {{ stat }}
              {% else %}
                {{ stat }},
              {% endif %}
            {% endfor %}
            quickly without compromising efficiency.
          </p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure class="w-100 max-w-6rem mr-3">
              <img class="img-fluid" src="/assets/svg/icons/icon-44.svg" alt="SVG">
            </figure>
            <div class="media-body">
              <h4 class="mb-0">Safety</h4>
            </div>
          </div>
          <p>This Module uses browser trusted user-input events. {{ page.service.name }} thinks a <strong>real user</strong> is navigating the site and interacting with content.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure class="w-100 max-w-6rem mr-3">
              <img class="img-fluid" src="/assets/svg/icons/icon-2.svg" alt="SVG">
            </figure>
            <div class="media-body">
              <h4 class="mb-0">Multiple Accounts</h4>
            </div>
          </div>
          <p>You can automate multiple {{ page.service.name }} accounts with Somiibo. Each {{ page.service.name }} Module can have its own settings and breaks!</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure class="w-100 max-w-6rem mr-3">
              <img class="img-fluid" src="/assets/svg/icons/icon-37.svg" alt="SVG">
            </figure>
            <div class="media-body">
              <h4 class="mb-0">Proxy Support</h4>
            </div>
          </div>
          <p>You can assign each {{ page.service.name }} Module instance a different proxy. {{ page.service.name }} will never know you run multiple accounts.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure class="w-100 max-w-6rem mr-3">
              <img class="img-fluid" src="/assets/svg/icons/icon-5.svg" alt="SVG">
            </figure>
            <div class="media-body">
              <h4 class="mb-0">Scheduling</h4>
            </div>
          </div>
          <p>Set breaks and goals for each {{ page.service.name }} Module. You can control how long the Module runs for without babysitting it.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure class="w-100 max-w-6rem mr-3">
              <img class="img-fluid" src="/assets/svg/icons/icon-28.svg" alt="SVG">
            </figure>
            <div class="media-body">
              <h4 class="mb-0">Multiple Modules</h4>
            </div>
          </div>
          <p>Somiibo offers multiple Modules for {{ page.service.name }}, each with its own purpose. Mix and match them to customize your social media marketing.</p>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks -->

      <div class="text-center mb-9">
        <div class="mb-3">
          <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mx-1" href="{{ site.url }}/signup">Sign up free</a>
          <a class="btn btn-link mb-2 mb-sm-0 mx-1" href="{{ site.url }}/download">Start automating {{ page.service.name }} <i class="fas fa-angle-right fa-sm ml-1"></i></a>
        </div>

        <p class="small">Somiibo is free. No credit card required.</p>
      </div>


      <div class="">
        <h3 class="h5">How do the Somiibo {{ page.service.name }} Automation Tools Work?</h3>
        {{ content }}
      </div>
    </div>
  </div>
  <!-- End Content Section -->

  <!-- Sticky Block End Point -->
  <div id="stickyBlockEndPoint"></div>

  <!-- Testimonials -->
  <div class="bg-light">
    <div class="container space-1 space-md-2 space-lg-3">
      <div class="w-lg-75 mx-lg-auto">
        <!-- SVG Quote -->
        <figure class="mx-auto text-center mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px"
             viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <path fill="#377DFF" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
              C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
              c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
              C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
          </svg>
        </figure>
        <!-- End SVG Quote -->

        <!-- Blockquote -->
        <div class="text-center mb-5">
          <blockquote class="h2 font-weight-normal">
            Somiibo has been pretty straightforward and upfront about what it is they do and what they have on offer... they do appear to follow through on promises that they make about the quality of their services.
          </blockquote>
        </div>
        <!-- End Blockquote -->

        <!-- Reviewer -->
        <div class="w-lg-50 text-center mx-lg-auto">
          <h4 class="mb-0">Jonathon Spire</h4>
          <small class="text-muted">Blogger @ <a href="https://jonathonspire.com/somiibo-review/" rel="nofollow" target="_blank">jonathonspire.com</a></small>
        </div>
        <!-- End Reviewer -->
      </div>
    </div>
  </div>
  <!-- Testimonials -->

  <div class="container space-top-2 space-top-lg-3 space-bottom-2 space-bottom-lg-3">
    {% comment %}
    {%- include /app/modules/call-to-action.html -%}
    {% endcomment %}
  </div>

</main>
<!-- ========== END MAIN ========== -->
