---
### ALL PAGES ###
layout: master/global/default

### REGULAR PAGES ###
---

{% assign service-name-short = page.service.name-short | default: page.service.name %}
{% capture service-onboarding-url %}{{ site.url }}/onboarding?service={{ page.name | replace: ".md", "" }}{% endcapture %}

<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Hero Section -->
  <!-- <div class="bg-primary bg-img-hero" style="background-image: url(/assets/svg/components/abstract-shapes-5.svg);"> -->
  <div class="position-relative bg-{{ page.service.color }} overflow-hidden">
    <!-- <div class="container position-relative z-index-2 space-top-3 space-top-md-4 space-bottom-3 space-bottom-md-4"> -->
    <div class="container position-relative z-index-2 space-top-2 space-top-md-3 space-bottom-1 space-bottom-md-2">
      <div class="w-md-80 w-xl-60 text-center mx-md-auto">
        <div class="mb-7">
          <!-- <h1 class="display-4 text-white mb-4">Operst Services.</h1> -->
          <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">{{ page.service.name }}</span>
          <!-- <p class="lead text-white mb-4">Operst offers complete advertising solutions that focus on performance.</p> -->
          <h1 class="text-white mb-0 h2">{{ page.service.heading }}</h1>
        </div>
        <!-- <a class="btn btn-light btn-wide transition-3d-hover" href="#">Start Now</a> -->
        <!-- <a class="btn text-white" href="#">Get in Touch <i class="fas fa-angle-right fa-sm ml-1"></i></a> -->
      </div>
    </div>

    <!-- SVG Shapes -->
    <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
        <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
      </svg>
    </figure>
    <!-- End SVG Shapes -->
  </div>

  <div class="container space-bottom-1 space-bottom-lg-1"></div>

  <div id="aboutSection" class="container space-bottom-0">
    <!-- Title -->
    <div class="w-lg-65 text-center mx-auto mb-5 mb-sm-9">
      <h2 class="h1">Why {{ page.service.name }}?</h2>
      <p>{{ page.service.subheading }}</p>
    </div>
    <!-- End Title -->

    <div class="row">

      {% for bullet in page.service.bullets %}
        <div class="col-md-4 mb-7">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <!-- <figure class="max-w-8rem mx-auto mb-4">
              <img class="img-fluid" src="/assets/svg/icons/icon-45.svg" alt="SVG">
            </figure> -->
            <div class="max-w-8rem mx-auto mb-2">
              <i class="fas fa-{{ bullet[2] }} fa-2x text-dark"></i>
            </div>
            <h3>{{ bullet[0] }}</h3>
            <p>{{ bullet[1] }}</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
      {% endfor %}

    </div>

    <img class="img-fluid d-none d-md-block w-75 mx-auto mb-0" src="/assets/svg/components/three-pointers.svg" alt="SVG Arrow">

    <!-- Title -->
    <div class="w-md-60 w-lg-50 text-center mx-auto mt-7 mb-0">
      <p class="text-dark"><span class="font-weight-bold">Operst can help.</span> Create your first and ongoing <strong>{{ service-name-short }} campaign</strong> with us.</p>
    </div>
    <!-- End Title -->

    <!-- Browser Mockup -->
    <div class="position-relative w-lg-75 mx-lg-auto mb-4" data-aos="fade-up">
      <div class="mt-n7">
        <figure>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1109.8 797.1" transform="scale(1 0.8)">
            <path fill="#f9fbff" d="M105.1,267.1C35.5,331.5-3.5,423,0.3,517.7C6.1,663,111,831.9,588.3,790.8c753-64.7,481.3-358.3,440.4-398.3c-4-3.9-7.9-7.9-11.7-12L761.9,104.8C639.4-27.6,432.5-35.6,299.9,87L105.1,267.1z"/>
          </svg>
        </figure>

        <div class="device device-browser">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.service.video }}"></iframe>
          </div>
        </div>
      </div>
      <!-- <div class="device device-browser">
        <img class="img-fluid" src="/assets/svg/components/browser.svg" alt="Image Description">
        <img class="device-browser-screen" src="/assets/images/screenshots/digital-marketing-analytics-1.jpg" alt="Image Description">
      </div> -->
    </div>
    <!-- End Browser Mockup -->

    <!-- <div class="w-50 w-md-40 w-lg-30 text-center mx-auto">
      <p class="small">We are launching soon. Join the priority list for information and early access.</p>
    </div> -->
  </div>


  <div id="pricingSection" class="container space-bottom-2 space-bottom-lg-3">
    <!-- Title -->
    <div class="w-lg-65 text-center mx-auto mb-5 mb-sm-9">
      <h2 class="h1">Scalable {{ service-name-short }} packages</h2>
      <p>Find the right package for your business.</p>
    </div>
    <!-- End Title -->

    <div class="w-lg-75 mx-lg-auto">
      <div class="row align-items-sm-end mx-n2 mb-5 mb-md-7">

        {% for pricing in page.service.pricing %}
          {% capture service-onboarding-url-inner %}{{ service-onboarding-url }}&package=tier-{{ forloop.index }}{% endcapture %}
          {% if forloop.length == 1 %}
            {% assign pricing-column = "col-sm-12 col-md-12" %}
          {% elsif forloop.length == 2 %}
            {% assign pricing-column = "col-6" %}
          {% elsif forloop.length == 3 %}
            {% assign pricing-column = "col-sm-6 col-md-4" %}
          {% elsif forloop.length == 4 %}
            {% assign pricing-column = "col-sm-6 col-md-3" %}
          {% endif %}

          {% if forloop.index == 1 %}
            {% assign pricing-package-name = "Tier 1" %}
            {% capture pricing-package-svg %}
              <circle fill="#161c29" opacity=".85" cx="80" cy="80" r="48"/>
            {% endcapture %}
          {% elsif forloop.index == 2 %}
            {% assign pricing-package-name = "Tier 2" %}
            {% capture pricing-package-svg %}
              <circle fill="#161c29" opacity=".85" cx="80" cy="80" r="48"/>
              <circle fill="#161c29" opacity=".85" cx="112" cy="80" r="48"/>
            {% endcapture %}
          {% elsif forloop.index == 3 %}
            {% assign pricing-package-name = "Tier 3" %}
            {% capture pricing-package-svg %}
              <circle fill="#161c29" opacity=".85" cx="48" cy="53" r="48"/>
              <circle fill="#161c29" opacity=".85" cx="112" cy="53" r="48"/>
              <circle fill="#161c29" opacity=".85" cx="81" cy="107" r="48"/>
            {% endcapture %}
          {% elsif forloop.index == 4 %}
            {% assign pricing-package-name = "Tier 4" %}
            {% capture pricing-package-svg %}
              <circle fill="#161c29" opacity=".85" cx="48" cy="53" r="48"/>
              <circle fill="#161c29" opacity=".85" cx="112" cy="53" r="48"/>
              <circle fill="#161c29" opacity=".85" cx="81" cy="107" r="48"/>
            {% endcapture %}
          {% endif %}

          <div class="{{ pricing-column }} px-2 mb-3 mb-md-0">
            <!-- Pricing -->
            <div class="card card-bordered shadow-none text-center" data-aos="fade-up" data-aos-delay="100">
              <div class="card-body pb-2">
                <figure class="text-center mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0 0 160 160">
                    {{ pricing-package-svg }}
                  </svg>
                </figure>
                <h4 class="font-size-2">{{ pricing-package-name }}</h4>
                <!-- <span class="text-dark font-size-2 font-weight-bold">Free</span> -->
              </div>
              <div class="card-body pt-0 pb-5 px-5">
                <ul class="list-unstyled list-sm-article mb-4">
                  {% for feature in pricing %}
                    <li>{{ feature }}</li>
                  {% endfor %}
                </ul>
                <a class="btn btn-sm btn-block btn-soft-primary transition-3d-hover" href="{{ service-onboarding-url-inner }}">Contact us</a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

      <!-- Link -->
      <div class="text-center">
        <a href="{{ service-onboarding-url }}&package=custom">
          Contact us for
          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mx-2">
            <i class="fas fa-angle-right"></i>
          </span>
          custom plans
        </a>
      </div>
      <!-- End Link -->
    </div>
  </div>

</main>
<!-- ========== END MAIN ========== -->
